/*Overriding Styles*/
.container {
  max-width: 100%;
  width: auto;
}
.active img {
  margin:auto;
  width: 70%;
}
.carousel-caption h3 {
  font-size: 2rem;
}
.carousel-caption p {
  font-size: 1.25rem
}
a {
  color:#aaa;
}
h3 {
    font-size:2.5rem;
  margin:1rem;
  padding:1.25rem;
    text-align: center;
}
h2 {
    margin:auto;
  font-size:3rem;
}
h1 {
    font-size: 4rem;
  margin: auto;
  margin-bottom:1rem;
  margin-top:1rem;
}
p {
  font-size:1.75rem;
  margin-bottom: 2rem;
  max-width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
img {
  max-width:50%;
  margin:auto;
  margin-bottom:1rem;
}
video {
  display:block;
  margin:0 auto;
}
table {
	margin: auto;
	text-align: center;
  margin-bottom:1rem;
}
table th {
	border: 1px solid rgba(1,1,1,0.4);
	text-align: center;
  padding: 1rem;
}
table tr {
	border: 1px solid rgba(1,1,1,0.4);
}
table td {
	border: 1px solid rgba(1,1,1,0.4);
	padding: 1rem;
}
/*Project Title and Description*/
.projectDiv {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
}
.projectDiv h2::after {
  height:0;
}

/*List of Contents*/
.list {
  display: flex;
  flex-direction: row;
}
.list ul {
  flex-wrap: wrap;
  margin: 0 10vw;
}
.list ul li {
  text-align: center;
  margin: 1rem auto;
  flex: 0 0 30%;
  border: 1px solid rgba(1,1,1,0.4);
  cursor: pointer;
}
/*Side by Side view*/
.sidebyside {
  display:flex;
  flex-direction:row;
  min-height: fit-content;
}
.sidebysideElement {
  flex:50;
  display:flex;
  flex-direction: column;
}
code {
  white-space: pre-wrap !important;
  background: #444 !important;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  margin-bottom: 1rem;
  padding: 1rem !important;
}
.imgCaption {
  font-size: 1.25rem;
}
/**/
.normalList {
}
.normalList ul {
	display: block;
	margin: auto;
	margin-bottom: 1rem;
	max-width: 30vw;
}
.normalList ul li {
	border: 0;
	list-style: inside;
	color: #ccc;
}
.normallist ul li ul{
  margin:0 !important;
}
.normalList ul li ul li {
	margin: 0 3vw;
	padding: 0.5rem 0;
}
@media screen and (max-width: 600px) {
  .carousel-caption {
    position: sticky;
  }
  .active img {
    width: 100%;
  }
.sidebyside {
  flex-direction: column;
}
img {
  max-width:100%;
}
video {
  max-width:100%;
}
}