/* https://coolors.co/a57548-2e282a-dad2d8-647aa3-ccdad1 */
/*https://coolors.co/1b262c-0f4c75-3282b8-bbe1fa-000000*/
body
{
    margin: 0;
    padding: 0;
	
}

/* For mobile phones: */
[class*="col-"] 
{
  width: 100%;
}
.socialMediaImg
{
	display:flex;
	margin-right: 1rem;
}
.navbar
{
    display: block;
	padding: 0.5rem;
}


.logoImage 
{
  margin:auto;
  height: 64px;
  width: 64px;
}

.cardHolder
{
  display: flex; 
  flex-wrap: wrap;
}

.card 
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 50%;
  float:left; 
  margin: auto;
  margin-top:10px;
  background-color: #3282B8;
}
.cardMain 
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 50%;
  float:left; 
  margin: auto;
  margin-top:10px;
  background-color: #3282B8;
}

.link 
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.charlestonGreen
{
  background-color:#1b262c;
}
.indigoDye
{
  background-color:#0F4C75;
}
.steelBlue
{
  background-color:#3282B8;
}
.UranianBlue
{
  background-color: #BBE1FA;
}

.indigoDyeToSteelBlue
{
  background: hsla(204, 77%, 26%, 1);

  background-image: linear-gradient(to bottom, #0f4c75, #195985, #216696, #2a74a7, #3282b8);
}
.indigoDyeToSteelBlueRadial
{
  background-image: radial-gradient(circle, #3282b8, #2a74a7, #216696, #195985, #0f4c75);
}

.projectDiv
{
	overflow:hidden;
}

.formBox
{
  width:400px;
  background: #0F4C75;
  box-shadow: 0 15px 25px #3282B8;
  border-radius: 10px;
}
.formBox h2
{
  margin: 0 0 30px;
  padding:0;
  text-align:center;
}
.formBox .userBox input
{ 
  position: relative;
  width:100%;
  padding:10px 0;
  font-size:16px;
  margin-bottom: 30px;
  border:none;
  border-bottom:1px solid #fff;
  outline:none;
  background:transparent;
}
.formBox .userBox textarea
{ 
  position: relative;
  width:100%;
  padding:10px 0;
  font-size:16px;
  margin-bottom: 30px;
  border:none;
  border-bottom:1px solid #fff;
  outline:none;
  background:transparent;
  font-family:'Roboto', sans-serif;
}
.formBox .userBox label
{
  position:relative;
  left:0;
  top:-60px;
  padding:10px 0;
  font-size:16px;
  pointer-events: none;
  transition: .5s;
}
.formBox .userBox input:focus~label, .formBox .userBox input:valid~label, .formBox .userBox textarea:focus~label, .formBox .userBox textarea:valid~label
{
  top:-85px;
  left:0;
  color:#BBE1FA;
  font-size:12px;
}

#submit
{
  padding:10px 20px;
  color:#BBE1FA;
  font-size:16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow:hidden;
  transition: .5s;
  letter-spacing: 4px;
  border:1px solid #3282B8;
  margin:auto;
  background-color:#111
}
#submit:hover
{
  background:#0f4c75;
  border-radius: 5px;
  box-shadow:0 0 5px #3282b8, 0 0 25px #3282B8, 0 0 50px #3282B8, 0 0 100px #3282B8;

}
.form
{
	display:block;
	text-align:center;
}

.wrapper
{
	flex:1;
	animation: fadeInAnimation ease 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.navbar li 
{
    text-align: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar li a {
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover 
{
  background-color: #111;
} 

.socialMediaLinks
{
	float:none;
}

.footer
{
	overflow:hidden;
}
a
{
  text-decoration: none;
  color: black;
  font-weight: 300;
  cursor: pointer;
}
p
{
  text-align: center;
  font-size: 1.125rem;
  font-weight: 300;
}
h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

h3 {
  font-size: 1.75rem;
  font-weight: 300;
}

h4
{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

h5 {
  font-size: 1.25rem;
  font-weight: 300;
}

h6 {
  font-size: 1rem;
  font-weight: 300;
}

li, ul {
  list-style: none;
  font-size: 1rem;
  font-weight: 300;
}

button {
  font-size: 1rem;
  font-weight: 300;
}

img {
  height: auto;
  max-width: 100%;
}

input, textarea {
  font-size: 1rem;
  font-weight: 300;
}


body
{
	font-family: 'Roboto', sans-serif;
	display:flex;
	flex-direction:column;
	min-height:100vh;
	overflow-x:hidden;
	font-size: 1rem;
}
	
  .hero
  {
	width: 100vw; 
	height: 75vh;
	display:flex;
	flex-direction: row;
	align-items:center;
	animation: fadeInAnimation ease 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
  }
  

@keyframes fadeInAnimation
{
	0% 
	{
		opacity : 0;
	}
	
	100%
	{
		opacity: 1;
	}
}



@media (min-width: 768px)
{
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .col-20Percent {width: 20%;}
  
  .headerDesktop
  {
    position:fixed;
	top:0;
	left:0;
  }

  .logoImage
  {
	margin:0;
    display: flex;
    max-width: 100%;
  }	
  .center
  {
    margin: auto;
    width: 60%;
    margin-top: 10px;
    padding: 10px;
  }
  .introText
  {
	margin-top:100px;
  }
  .navbar
  {
    display: flex;
    
  }
  
  .navbar ul 
  {
    list-style-type: none;
    margin: auto;
    display: flex;
  }
  .navbar li a 
  {
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }
  .socialMediaLinks
  {
	float:right;  
  }
  
  .projectDiv
  {
	width:100%;
  }  

  .heroSub
  {
	display:flex;
	justify-content:center;
	width:100vw;
	height: 75vh;	
  }
  .heroText
  {
	height: 100%;
	align-content: center;
  }

  .card
{
  position:relative;
  height:25vh;
  margin: 20px 40px;
  display:flex;
  flex-direction: row;
  align-items: center;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 100%;
  float:none;
  background-color: #ffffff00;
}
.containerDesktop
{
  margin:auto;
  margin-left:5vw;
  margin-right:5vw;
  display:flex;
  flex-direction: column;
}

  
}
	

