/* https://coolors.co/a57548-2e282a-dad2d8-647aa3-ccdad1 */
body
{
    margin: 0;
    padding: 0;
	
}

/* For mobile phones: */
[class*="col-"] 
{
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .col-20Percent {width: 20%;}
  
  .center
  {
    margin: auto;
    width: 60%;
    margin-top: 10px;
    padding: 10px;
  }
}

.navbar
{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.logoImageIMG
{
  height: auto;
  width: auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.logoImage 
{
  height: auto;
  max-width: 100%;
}

.cardHolder
{
  display: flex; 
  flex-wrap: wrap;
}
.card 
{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 50%;
  float:left; 
  margin: auto;
  margin-top:10px;
  border: 1px solid black;
  background-color: #647AA3;
}

.link 
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.ashGrey
{
	background-color:#CCDAD1;
}
.lightGrey
{
	background-color:#DAD2D8;
}
.raisinBlack
{
	background-color:#2E282A;
}
.coffeeToLightGrey
{
  background: rgb(218,210,216);
  background: linear-gradient(90deg, rgba(218,210,216,1) 0%, rgba(165,117,72,1) 25%, rgba(168,123,81,1) 75%, rgba(218,210,216,1) 100%);
}
.navbar ul 
{
  list-style-type: none;
  width: 100%;
  display: flex;
  margin: auto;
}

.navbar li {
    text-align: center;
}

.navbar li a 
{
  color: white;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover 
{
  background-color: #111;
} 
a
{
  text-decoration: none;
  color: black;
}
p
{
  text-align: center;
}
h4
{
  text-align: center;
}
	
	

